
<h1><%= t('.sign_up') %></h1>
<div class="form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-row">
  <div class="col-md-6">
      <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: 'first name', class: 'form-control' %>
    </div>
  </div>
    <div class="col-md-6">
      <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: 'last name', class: 'form-control' %>
    </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <div id="password-strength" >
    
    <%= f.password_field :password, autocomplete: "new-password" , id: "password-input",onKeyUp: "measureStrength()"%>
    <br>
    <span>Your password is:</span>
    <span id="strength-level"></span>
    </div>
    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', id: "passwordTwo", onKeyUp: "confirmPassword()"%>
    <span>Match status:</span>
    <span id="matchStatus"></span>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<%= render 'devise/shared/links' %>

<script type="text/javascript">
  function measureStrength(){
    let passwordElem = document.getElementById("password-input")
    let strengthElem = document.getElementById("strength-level")
     let strengthLevel= 'Weak';
    var password= passwordElem.value;
    var numberRegex = /\d/
  
    if(numberRegex.test(password)){
   
    if ((password.length >=8) && (password.length <12)){
      strengthLevel= 'Strong';
    }
  
      else if(password.length >= 12){
        strengthLevel= 'Very Strong';
      }
    }
      else{
        strengthLevel='Weak';
      }
      strengthElem.className= strengthLevel.toLowerCase().replace(" ","-")
    strengthElem.innerText = strengthLevel;
  
  }
</script>
<script>
function confirmPassword(){
  let password1=document.getElementById("password-input").value
  let password2=document.getElementById("passwordTwo").value
  let matchStatus1=document.getElementById("matchStatus")
  var matchStatus= "Not matched";

  if((password1 == password2)&& (password1.length>6)&&(password2.length>6)){
    matchStatus= "password matched";

  }else {
    matchStatus="Not matched";
  }
matchStatus1.className=matchStatus.toLowerCase().replace(' ','-');
matchStatus1.innerText=matchStatus;
}
</script>